## Project Outline: Hospital Readmission & LOS Analysis

In [22]:
import pandas as pd
import numpy as np

In [23]:
# Find Current Path
import os
current_directory = os.getcwd()
print(current_directory)

C:\Users\Yang Chen

In [24]:
file_path = "Jupyter Notebook/Hospital Readmission & LOS Analysis/data_raw/diabetic_data.csv"

df = pd.read_csv(file_path)
pd.set_option('display.max_columns', None)
print(df.shape)
print(df.info())

(101766, 50)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101766 entries, 0 to 101765
Data columns (total 50 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   encounter_id              101766 non-null  int64
 1   patient_nbr               101766 non-null  int64
 2   race                      101766 non-null  object
 3   gender                    101766 non-null  object
 4   age                       101766 non-null  object
 5   weight                    101766 non-null  object
 6   admission_type_id         101766 non-null  int64
 7   discharge_disposition_id  101766 non-null  int64
 8   admission_source_id       101766 non-null  int64
 9   time_in_hospital          101766 non-null  int64
 10  payer_code                101766 non-null  object
 11  medical_specialty         101766 non-null  object
 12  num_lab_procedures        101766 non-null  int64
 13  num_procedures            101766 non-null  int64
 14  num_medications           101766 non-null  int64
 15  number_outpatient         101766 non-null  int64
 16  number_emergency          101766 non-null  int64
 17  number_inpatient          101766 non-null  int64
 18  diag_1                    101766 non-null  object
 19  diag_2                    101766 non-null  object
 20  diag_3                    101766 non-null  object
 21  number_diagnoses          101766 non-null  int64
 22  max_glu_serum             5346 non-null    object
 23  A1Cresult                 17018 non-null   object
 24  metformin                 101766 non-null  object
 25  repaglinide               101766 non-null  object
 26  nateglinide               101766 non-null  object
 27  chlorpropamide            101766 non-null  object
 28  glimepiride               101766 non-null  object
 29  acetohexamide             101766 non-null  object
 30  glipizide                 101766 non-null  object
 31  glyburide                 101766 non-null  object
 32  tolbutamide               101766 non-null  object
 33  pioglitazone              101766 non-null  object
 34  rosiglitazone             101766 non-null  object
 35  acarbose                  101766 non-null  object
 36  miglitol                  101766 non-null  object
 37  troglitazone              101766 non-null  object
 38  tolazamide                101766 non-null  object
 39  examide                   101766 non-null  object
 40  citoglipton               101766 non-null  object
 41  insulin                   101766 non-null  object
 42  glyburide-metformin       101766 non-null  object
 43  glipizide-metformin       101766 non-null  object
 44  glimepiride-pioglitazone  101766 non-null  object
 45  metformin-rosiglitazone   101766 non-null  object
 46  metformin-pioglitazone    101766 non-null  object
 47  change                    101766 non-null  object
 48  diabetesMed               101766 non-null  object
 49  readmitted                101766 non-null  object
dtypes: int64(13), object(37)
memory usage: 38.8+ MB
None

In [25]:
df.head()

,encounter_id,patient_nbr,race,gender,age,weight,admission_type_id,discharge_disposition_id,admission_source_id,time_in_hospital,payer_code,medical_specialty,num_lab_procedures,num_procedures,num_medications,number_outpatient,number_emergency,number_inpatient,diag_1,diag_2,diag_3,number_diagnoses,max_glu_serum,A1Cresult,metformin,repaglinide,nateglinide,chlorpropamide,glimepiride,acetohexamide,glipizide,glyburide,tolbutamide,pioglitazone,rosiglitazone,acarbose,miglitol,troglitazone,tolazamide,examide,citoglipton,insulin,glyburide-metformin,glipizide-metformin,glimepiride-pioglitazone,metformin-rosiglitazone,metformin-pioglitazone,change,diabetesMed,readmitted
0,2278392,8222157,Caucasian,Female,[0-10),?,6,25,1,1,?,Pediatrics-Endocrinology,41,0,1,0,0,0,250.83,?,?,1,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,NO
1,149190,55629189,Caucasian,Female,[10-20),?,1,1,7,3,?,?,59,0,18,0,0,0,276,250.01,255,9,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,>30
2,64410,86047875,AfricanAmerican,Female,[20-30),?,1,1,7,2,?,?,11,5,13,2,0,1,648,250,V27,6,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Yes,NO
3,500364,82442376,Caucasian,Male,[30-40),?,1,1,7,2,?,?,44,1,16,0,0,0,8,250.43,403,7,NaN,NaN,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,No,Up,No,No,No,No,No,Ch,Yes,NO
4,16680,42519267,Caucasian,Male,[40-50),?,1,1,7,1,?,?,51,0,8,0,0,0,197,157,250,5,NaN,NaN,No,No,No,No,No,No,Steady,No,No,No,No,No,No,No,No,No,No,Steady,No,No,No,No,No,Ch,Yes,NO

In [26]:
df = df.replace('?', np.nan)

df.isnull().sum()

encounter_id                    0
patient_nbr                     0
race                         2273
gender                          0
age                             0
weight                      98569
admission_type_id               0
discharge_disposition_id        0
admission_source_id             0
time_in_hospital                0
payer_code                  40256
medical_specialty           49949
num_lab_procedures              0
num_procedures                  0
num_medications                 0
number_outpatient               0
number_emergency                0
number_inpatient                0
diag_1                         21
diag_2                        358
diag_3                       1423
number_diagnoses                0
max_glu_serum               96420
A1Cresult                   84748
metformin                       0
repaglinide                     0
nateglinide                     0
chlorpropamide                  0
glimepiride                     0
acetohexamide                   0
glipizide                       0
glyburide                       0
tolbutamide                     0
pioglitazone                    0
rosiglitazone                   0
acarbose                        0
miglitol                        0
troglitazone                    0
tolazamide                      0
examide                         0
citoglipton                     0
insulin                         0
glyburide-metformin             0
glipizide-metformin             0
glimepiride-pioglitazone        0
metformin-rosiglitazone         0
metformin-pioglitazone          0
change                          0
diabetesMed                     0
readmitted                      0
dtype: int64

In [27]:
df = df.drop(columns=['weight', 'payer_code', 'medical_specialty'])
print(df.shape)

(101766, 47)

In [28]:
# set reamitted to No and >30 to 0

df['readmitted_binary'] = df['readmitted'].apply(lambda x: 1 if x == '<30' else 0)
print(df['readmitted_binary'].value_counts())
df['readmitted_binary'].value_counts(normalize=True)

readmitted_binary
0    90409
1    11357
Name: count, dtype: int64

readmitted_binary
0    0.888401
1    0.111599
Name: proportion, dtype: float64

In [29]:
df['age_clean'] = df['age'].replace({'[0-10)': 5, '[10-20)': 15, '[20-30)': 25, '[30-40)': 35, '[40-50)': 45,
                                     '[50-60)': 55, '[60-70)': 65, '[70-80)': 75, '[80-90)': 85, '[90-100)': 95})
df[['age', 'age_clean']].head(10)

C:\Users\Yang Chen\AppData\Local\Temp\ipykernel_13696\814996883.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['age_clean'] = df['age'].replace({'[0-10)': 5, '[10-20)': 15, '[20-30)': 25, '[30-40)': 35, '[40-50)': 45,

        age  age_clean
0    [0-10)          5
1   [10-20)         15
2   [20-30)         25
3   [30-40)         35
4   [40-50)         45
5   [50-60)         55
6   [60-70)         65
7   [70-80)         75
8   [80-90)         85
9  [90-100)         95

In [30]:
# Detail mapping of ICD9 codes to disease categories

def map_icd9_detailed(code):
    try:
        code = float(code)
    except:
        return "Other"
    
    if 390 <= code <= 459 or code == 785:
        return "Circulatory"
    elif 460 <= code <= 519 or code == 786:
        return "Respiratory"
    elif 520 <= code <= 579 or code == 787:
        return "Digestive"
    elif 250 <= code < 251:   # 250.xx
        return "Diabetes"
    elif 800 <= code <= 999:
        return "Injury"
    elif 710 <= code <= 739:
        return "Musculoskeletal"
    elif 580 <= code <= 629 or code == 788:
        return "Genitourinary"
    elif 140 <= code <= 239:
        return "Neoplasms"
    elif 780 <= code <= 799:
        return "Other symptoms"
    elif 240 <= code <= 279 and code != 250:
        return "Endocrine/Metabolic"
    elif 680 <= code <= 709:
        return "Skin"
    elif 1 <= code <= 139:
        return "Infectious"
    elif 290 <= code <= 319:
        return "Mental disorders"
    elif code >= 740 and code <= 759:
        return "Congenital anomalies"
    else:
        return "Other"

for col in ['diag_1', 'diag_2', 'diag_3']:
    df[col] = df[col].apply(map_icd9_detailed)

In [32]:
print(df['diag_1'].value_counts(normalize=True).head(10))
print(df['diag_2'].value_counts(normalize=True).head(10))
print(df['diag_3'].value_counts(normalize=True).head(10))

diag_1
Circulatory        0.299088
Respiratory        0.141727
Digestive          0.093106
Diabetes           0.086050
Injury             0.068530
Genitourinary      0.050282
Musculoskeletal    0.048710
Other              0.045860
Neoplasms          0.033734
Other symptoms     0.031572
Name: proportion, dtype: float64
diag_2
Circulatory            0.313278
Diabetes               0.125720
Respiratory            0.107059
Genitourinary          0.082306
Endocrine/Metabolic    0.080803
Other                  0.073905
Digestive              0.040976
Skin                   0.035336
Other symptoms         0.028251
Mental disorders       0.026109
Name: proportion, dtype: float64
diag_3
Circulatory            0.297801
Diabetes               0.168593
Other                  0.108543
Endocrine/Metabolic    0.089922
Respiratory            0.072303
Genitourinary          0.065641
Digestive              0.038618
Mental disorders       0.030816
Other symptoms         0.027907
Skin                   0.024448
Name: proportion, dtype: float64

In [33]:
df.to_csv("Jupyter Notebook/Hospital Readmission & LOS Analysis/data/diabetic_data_clean.csv", index=False)